.body {
    background: lightblue;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    max-width: 24rem;
    border: 1px solid black;
    border-radius: 18px;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-family: 'Times New Roman', Times, serif;
}

button {
    margin: 8px;
    background-color: green;
    color: white;
    border-radius: 8px;
}